.venv/*
.venv_bkp/*
notebooks/.venv/*
notebooks/python/.venv/*
notebooks/python/concept_mapping/.venv/*
notebooks/r/.ipynb_checkpoints/*
notebooks/python/.ipynb_checkpoints/*
.vscode/*
*/__pycache__/*
*.pyc
*checkpoint.ipynb
*checkpoint.py
build/*
dist/*
*.egg-info/*
*/*.egg-info/*
temp/*
ehrqc/standardise/migrate_omop/data/*
notebooks/python/concept_mapping/data/*
*.bkp*
data/*
snippets/python/data/*
